# Build directory
build/

# Binaries & Archives
cachex_main
cmake-3.29.3-linux-x86_64/
cmake-3.29.3-linux-x86_64.tar.gz
gh_2.50.0_linux_amd64/
gh.tar.gz

# IDE/Editor
.vscode/
.idea/
*.swp
*.o

# OS
.DS_Store
